---
import type { CollectionEntry } from 'astro:content';

import AstroMapThumbnail from '@components/maps/MapThumbnail.astro';
import ActivityTagPill from './ActivityTagPill.astro';
import ActivityDateLabels from './ActivityDateLabels.astro';

interface Props {
  outdoorsPage: CollectionEntry<'outdoors'>;
}

const { outdoorsPage } = Astro.props;
const outdoorsPageUrl = `/outdoors/${outdoorsPage.slug}/`;
---

<div class="flex flex-col sm:flex-row surface-low justify-between gap-2 rounded p-4">
  <div class="flex flex-col gap-1">
    <div class="text-lg">
      <a href={outdoorsPageUrl}>{outdoorsPage.data.title}</a>
    </div>
    <div class="flex flex-row gap-1 sm:gap-2">
      {outdoorsPage.data.tags.map((tag: string) => <ActivityTagPill tag={tag} />)}
    </div>
    <ActivityDateLabels outdoorsPage={outdoorsPage} />
    <p class="my-2">
      {outdoorsPage.data.introduction}
      <a class="interactive-accent" href={outdoorsPageUrl}>Read more ...</a>
    </p>
  </div>
  <div class="flex-none self-center w-full sm:w-[160px] h-[120px]">
    <a href={outdoorsPageUrl}>
      <AstroMapThumbnail
        mapCenterDefault={JSON.stringify(outdoorsPage.data.map.thumbnail.mapCenterDefault)}
        mapId={`${outdoorsPage.data.label}-thumbnail`}
        mapZoomDefault={outdoorsPage.data.map.thumbnail.mapZoomDefault}
        tracks={JSON.stringify(outdoorsPage.data.map.tracks)}
      />
    </a>
  </div>
</div>
