---
import { Image, Picture } from '@astrojs/image/components';

import HomeLayout from '../layouts/Home.astro';

import dwightImage from '../images/dwight.jpg';
import emailIcon from '../images/at.svg';
import twitterIcon from '../images/twitter.svg';
import githubIcon from '../images/github.svg';
import linkedInIcon from '../images/linkedin-in.svg';
import stackOverflowIcon from '../images/stack-overflow.svg';
---

<HomeLayout title="Dwight Gunning">
  <div class="grid col-span-2 sm:col-span-1 content-center justify-center">
    <Picture
      alt="Dwight"
      aspectRatio="3:4"
      class="object-contain w-[420px] rounded-lg"
      sizes="((min-width: 50em) and (max-width: 60em)) 50em, ((min-width: 30em) and (max-width: 50em)) 30em,(max-width: 30em) 20em"
      src={dwightImage}
      widths={[420]}
    />
  </div>
  <div class="grid col-span-2 sm:col-span-1 content-center text-center sm:text-left my-8">
    <h1 class="text-2xl md:text-3xl text-fuscous-gray">Dwight Gunning</h1>
    <h2 class="text-lg text-blue-smoke italic">Software | Product | Technical Leadership</h2>
    <div class="text-center sm:text-left my-4">
      <p class="mb-3">Hi! Thanks for stopping by.</p>
      <p class="mb-3">
        I'm an Australian software engineer and technical leader with an entrepreneurial spirit, based in Amsterdam
        since 2010.
      </p>
      <p class="mb-3">I love building effective teams, solving technical challenges, and shipping great products.</p>
      <p class="mb-3 font-mono text-sm"><strong>Roles:</strong> Senior Engineer, Tech Lead, Engineering Manager</p>
      <p class="mb-3 font-mono text-sm">
        <strong>Tech:</strong> CSS, HTML, Java, JavaScript, Python, SQL, TypeScript
      </p>
      <p class="mb-3 font-mono text-sm">
        <strong>Frameworks:</strong> Astro, Django, Express, MUI, Next.js, React, Tailwind, Vue
      </p>
      <p class="mb-3 font-mono text-sm">
        <strong>Tools:</strong> Airflow, AWS, DataDog, Docker, Git, Helm, Heroku, Kubernetes, Metabase, Mongo, Nginx, Postgres,
        RabbitMQ, Redis, Render, Sentry, Strapi, Traefik, Vercel
      </p>
    </div>
    <div class="flex flex-row justify-evenly items-center sm:justify-start md:gap-4 mx-4 sm:mx-12 md:mx-0">
      <a href="mailto:dwight@dwightgunning.com" target="_blank" rel="noreferrer"
        ><img alt="" src={emailIcon} width="32px" />
      </a>
      <a href="https://twitter.com/DwightGunning" target="_blank" rel="noreferrer"
        ><img alt="" src={twitterIcon} width="32px" />
      </a>
      <a href="http://nl.linkedin.com/in/dwightgunning" target="_blank" rel="noreferrer"
        ><img alt="" src={linkedInIcon} width="32px" />
      </a>
      <a href="https://github.com/dwightgunning" target="_blank" rel="noreferrer"
        ><img alt="" src={githubIcon} width="32px" />
      </a>
      <a href="http://stackoverflow.com/users/263421/dwightgunning" target="_blank" rel="noreferrer"
        ><img alt="" src={stackOverflowIcon} width="32px" />
      </a>
    </div>
  </div>
</HomeLayout>
